#header {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 20px;
	padding: 10px;
	font-family: 'Anton', sans-serif;
	background-color: black;
	color: white;
	text-align: center;
}

#header h1 {
	margin-top: 0;
	font-size: 50px;
	margin-bottom: -15px;
}

#header p {
	margin-bottom: 5px;
}


#header-right-section {
	position: absolute;
	top: 5px;
	right: 5px;
	display: flex;
	flex-direction: column;
}
